*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white; 
}

.header {
    background-color: #007BFF;
    color: white;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header img {
    height: 50px;
    margin-right: 10px;
}

.profile-wrapper {
    padding: 80px 20px; 
    flex-direction: column;
    align-items: center;
}

.profile-user-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    max-width: 100vw;
    margin-bottom: 20px;
    padding: 0 20px; 
    text-align: left; 
    padding-top: 5px;
    margin-bottom: 60px;
}
.profile-user-container-separation {
    align-items: center; 
    display: flex;
}
.profile-info {
    display: flex;
    align-items: center; 
}

.User-image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.profile-user-container p {
    text-align: left;
}

.edit-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #005694;
}

.profile-user-data-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.column {
    width: 50%; 
}

.column p {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}